{% from "polygonSvg.html" import polygonSvg %}
{% from "mapLeaflet.html" import dlLeafletMap %}

{% macro tableRow(dataPoint) %}
    <div class="table-row">
        <div class="Title">
            <h2>{{dataPoint['attributes']['Reference']}} - {{dataPoint['attributes']['Name']}}</h2>
        </div>
        <div class="map">
            {{ dlLeafletMap(dataPoint['attributes']['Reference'], dataPoint['attributes']['Geometry'], dataPoint['attributes']['Point'], dataPoint['mapData']['bounds'], dataPoint['mapData']['outsideUk']) }}
        </div>
        <div class="attributes">
            {% for key in dataPoint['attributes'] %}
                <div class="attribute">
                    {{key}}: {{dataPoint['attributes'][key]}}
                </div>
            {% endfor %}
        </div>
        <div class="errors">
            <h3>Errors:</h3>
            {% for error in dataPoint['errors'] %}
                <div class="error">
                    <div class='field'>
                        Code: {{error['errorCode']}}
                    </div>
                    <div class="field">
                        Message: {{error['errorMessage']}}
                    </div>
                    <div class='field'>
                        Column Names: {{error['columnNames']}}
                    </div>
                    <div class='field'>
                        Scope/Level: {{error['scope']}}/{{error['level']}}
                    </div>
                    <div class='field'>
                        URI: <a href="errors/{{error['errorCode']}}">http://localhost:8080/validation/errors/{{error['errorCode']}}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}