{% macro header() %}
    <div class="topBanner">
        <div class="header">
            <h1>Engagement platform</h1>
        </div>
    </div>
{% endmacro %}

{% macro notification() %}
    <div class="notification">
        <div class="content">
            <div class="imageContainer">
                <i class="fa-solid fa-book"></i>
            </div>
            <div class="info">
                <h2>There is a new data standard for Conservation Area</h2>
                <h4>You will have received an email alert for this.</h4>
            </div>
        </div>
        <a href="#" class="readMoreLink">Read more</a>
    </div>
{% endmacro %}

{% macro welcome() %}
    <div class="welcome">
        <div class="imageContainer">
            <img src="/static/images/welcomeImage.png" class="image"/>
        </div>
        <div class="message">
            <p>Good morning Jeremy</p>
            <p>Plymouth City Council planning data</p>
        </div>
    </div>
{% endmacro %}
