@import '/application/assets/stylesheets/colors.scss';

.info{

}



.image{

}

.section{

}

.main{
    display: grid;
    grid-template-areas:
        "mainContent mainContent mainContent pageNav"
        "mainContent mainContent mainContent dataSummary"
        "mainContent mainContent mainContent leagueTable";
    gap: 1em 4em;

    .mainContent{
        grid-area: mainContent;

        .notice {

        }

        .linkBlock{


            margin-bottom: 5em;


            .title{
                font-size: 2.5em;
                font-weight: 700;
                margin: 0px;
            }

            .contentContainer{
                display: grid;
                grid-template-columns: 4fr 1fr;
                gap: 1em;

                .content{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    p {
                        font-size: 1.5em;
                    }

                    .button{
                        text-decoration: none;
                        color: white;
                        background-color: $green;
                        padding: 0.2em 1em;
                        max-width: 150px;
                        text-align: center;
                        font-size: 1.5em;
                    }
                }

                .thumbnail{
                    .thumbnailIcon {
                        background-color: #EEEEEE;
                        font-size: 400%;
                        padding: 50px;
                    }
                }
            }
        }

    }
}

.pageNav{
    margin-top: 1em;
    grid-area: pageNav;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #EEEEEE;
        padding: 0.5em 1em;

        .notificationCount {
            background-color: red;
            border-radius: 50%;
            padding: 0.1em 0.5em;
        }
    }
}

.dataSummary{
    grid-area: dataSummary;

    border: solid 2px #DDDDDD;

    padding: 1em;



    h2 {
        text-align: center;
    }

    .items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        justify-items: center;

        .item {
            border-radius: 50%;
            width: 100px;
            height: 100px;

            .content {
                text-align: center;
                margin: 1em;
                color: white;
            }
        }
    }
}

.leagueTable{
    grid-area: leagueTable;
    border: solid 2px #DDDDDD;
    padding: 1em;

    h2 {
        text-align: center;
    }

    .tableRow {
        padding: 0.2em 0em;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        justify-content: center;

        .number{
            align-self: right;
        }

        .name{
            align-self: left;
        }

        .Entities{
            align-self: right;
        }

    }
}
